html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

header {
  width: 600px;
  height: 50px;
  border: 2px solid grey;
  font-weight: bold;
  font-family: Arial, Verdana;
  color: #000;
  font-size: 2em;
  padding: 20px;
  margin: auto;
}

.score {
  width: 50%;
  float: right;
  text-align: right;
}

.reset-game {
  width: 50%;
  float: left;
}

.reset-game button {
  width: 100px;
  height: 40px;
  border: none;
  float: left;
  margin-top: 5px;
  border-radius: 10px;
  background: #000;
  color: #cccccc;
  font-size: 0.5em;
  -webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.3);
}.reset-game button:focus {
  outline: none;
}

#scoreText {
  color: green;
}

.game {
  width: 600px;
  height: 600px;
  background: #ccc;
  margin: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.tile {
  background: #000;
  width: 138px;
  height: 98px;
  margin: 1%;
  text-align: center;
  padding-top: 40px;
  color: white;
  float: left;
  font-size: 3em;
  font-weight: bold;
  border-radius: 6px;
  font-family: Arial, Verdana;
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.tile-0 {
  background: rgba(238, 228, 218, 0.35);
  color: black;
}

.tile-2 {
  background: #eee4da;
  color: black;
}

.tile-4 {
  background: #ede0c8;
  color: black;
}

.tile-8 {
  background: #f2b179;
  color: black;
}

.tile-16 {
  background: #f59563;
  color: black;
}

.tile-32 {
  background: #f67c5f;
  color: black;
}

.tile-64 {
  background: #f65e3b;
  color: black;
}

.tile-128 {
  background: #edcf72;
  color: black;
}

.tile-256 {
  background: #edcc61;
  color: black;
}

.tile-512 {
  background: #edc850;
  color: black;
}

.tile-1024 {
  background: #edc53f;
  color: black;
}

.tile-2048 {
  background: #edc22e;
  color: black;
}